<a href="https://colab.research.google.com/github/AlinaOtr/data/blob/master/bookings_of_hotels.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://stepik.org/media/attachments/lesson/360344/bookings.csv', sep = ';')

In [ ]:
df.shape

(119390, 21)

In [ ]:
df.dtypes.value_counts()

object     10
int64      10
float64     1
dtype: int64

In [ ]:
df.head(7)

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [ ]:
df.isna().sum()

Hotel                          0
Is Canceled                    0
Lead Time                      0
arrival full date              0
Arrival Date Year              0
Arrival Date Month             0
Arrival Date Week Number       0
Arrival Date Day of Month      0
Stays in Weekend nights        0
Stays in week nights           0
stays total nights             0
Adults                         0
Children                       4
Babies                         0
Meal                           0
Country                      488
Reserved Room Type             0
Assigned room type             0
customer type                  0
Reservation Status             0
Reservation status_date        0
dtype: int64

In [ ]:
def rename_columns(name):
    newname = name.lower().replace(' ', '_')
    return newname

In [ ]:
df = df.rename(columns = rename_columns)

In [ ]:
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

Определим топ-5 стран, в которых совершили наибольшее число успешных бронирований

In [ ]:
df.query('is_canceled == 0') \
    .country.value_counts() \
    .head()

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: country, dtype: int64

Определим, на сколько ночей в среднем остаются в разных типах отелей

In [ ]:
df.groupby('hotel', as_index = False).agg({'stays_total_nights': 'mean'}).round(2)

          hotel  stays_total_nights
0    City Hotel                2.98
1  Resort Hotel                4.32

In [ ]:
df.query('assigned_room_type != reserved_room_type').shape[0]

14917

В датасете встретилось 14 917 наблюдений, когда тип номера, полученного клиентом, отличался от изначально забронированного:

In [ ]:
df.query('is_canceled == 0') \
         .groupby('arrival_date_year') \
        .arrival_date_month.value_counts()

arrival_date_year  arrival_date_month
2015               October               3225
                   September             3020
                   August                2291
                   December              1947
                   November              1854
                   July                  1517
2016               October               3689
                   May                   3563
                   September             3372
                   April                 3367
                   March                 3347
                   August                3238
                   June                  3196
                   July                  3073
                   November              2818
                   February              2554
                   December              2462
                   January               1691
2017               May                   3551
                   July                  3329
                   March                 3298
                   June                  3208
                   April                 3198
                   August                3109
                   February              2818
                   January               2431
Name: arrival_date_month, dtype: int64

Из полученных данных видно, что в 2015 и 2016 годах чаще всего оформляли бронирование на октябрь, а в 2017 - на май, при этом успешных бронирований на октябрь в 2017 году не было

In [ ]:
df.query('is_canceled == 1 and hotel == "City Hotel"'). \
    groupby('arrival_date_year'). \
    arrival_date_month.value_counts()

arrival_date_year  arrival_date_month
2015               September             1543
                   October               1321
                   August                1232
                   July                   939
                   December               668
                   November               301
2016               October               1947
                   June                  1720
                   September             1567
                   April                 1539
                   May                   1436
                   November              1360
                   August                1247
                   March                 1108
                   December              1072
                   July                  1043
                   February               930
                   January                438
2017               May                   2217
                   April                 1926
                   June                  1808
                   July                  1324
                   March                 1278
                   August                1123
                   January               1044
                   February               971
Name: arrival_date_month, dtype: int64

Бронирования отеля типа City Hotel в 2015 году отменялись чаще всего в сентябре, в 2016 году - в октябре, а в 2017 году - в мае

In [ ]:
df[['adults', 'children', 'babies']].mean().round(2)

adults      1.86
children    0.10
babies      0.01
dtype: float64

In [ ]:
df['total_kids'] = df['children'] + df['babies']

In [ ]:
df.groupby('hotel', as_index = False) \
    .agg({'total_kids': 'mean'}) \
    .round(decimals = 2)

          hotel  total_kids
0    City Hotel        0.10
1  Resort Hotel        0.14

Отели типа Resort Hotel пользуются большей популярностью у клиентов с детьми

In [ ]:
df['has_kids'] = df['total_kids'] > 0

In [ ]:
round(df.query('is_canceled == 1 and has_kids == True').shape[0] / df.query('has_kids == True').shape[0] * 100, 2)

34.92

34,92% клиентов с детьми отменяли бронирование

In [ ]:
round(df.query('is_canceled == 1 and has_kids == False').shape[0] / df.query('has_kids == False').shape[0] * 100, 2)

37.22

37,22% клинетов без детей отменили бронирование